body, html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  background-color:#FFFFFF;
}

.header {
  /*outline: 2px solid red;*/
  width: 100%;
  display: flex;
  justify-content: center;
}

.twitter-logo {
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  margin: 0 auto;
}

.twitter-handle {
  font-family: 'Roboto',sans-serif;
  color: #5B5B5B;
  font-size: 18px;
  font-weight: lighter;
  margin: 0 auto;
}

.first-section {
  /*outline: 2px solid blue;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Sam-Pellegrene {
  text-align: center;
  margin: 0 auto;
  color:#5B5B5B;
  font-size: 36px;
  letter-spacing: .2rem;
  font-weight: 300;
  font-family: 'Roboto',sans-serif;
}
.personal-description {
  text-align: center;
  margin-top: 1rem;
  color:#5B5B5B;
  font-size: 24px;
  letter-spacing: .1rem;
  font-weight: lighter;
  font-family: 'Rokkitt',serif;;
}

.section-divider {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #C0BFBF;
  border-top: 1px solid #C0BFBF;
  margin-bottom: 1rem;
}

.section-divider-words {
  text-align: center;
  color:#5B5B5B;
  font-size: 24px;
  letter-spacing: .1rem;
  font-weight: lighter;
  font-family: 'Roboto',sans-serif;
}

.personal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-icon {
  /*outline: 2px solid red;*/
  width: 4rem;
  height: 4rem;
  margin-top: 1rem;
}

.content-title {
  color:#5B5B5B;
  font-size: 16px;
  font-weight: lighter;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: 'Roboto',sans-serif;
}

.small-border {
  border-bottom: 1px solid #C0BFBF;
  width: 3rem;
  margin: 0;
}

.content-description {
  /*outline: 2px solid red;*/
  width: 17rem;
  color:#383838;
  letter-spacing: .05rem;
  font-size: 16px;
}

.small-border-bottom {
  border-bottom:1px solid #C0BFBF;
  width: 100%;
  margin-top: 1rem;
}

.third-section {
  /*outline: 2px solid red;*/
  display: flex;
  flex-direction: column;
  margin-top:1rem;
  margin-bottom:1rem;
}

.coding-relationships {
  /*outline: 2px solid red;*/
  height: 10rem;
  display: flex;
  align-items: center;
}

.coding-description {
  /*outline: 2px solid red;*/
  color:#383838;
  letter-spacing: .05rem;
  font-size: 16px;
}

.code-images {
  width: 4rem;
  height: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.accomplishment-container {
  /*outline: 2px solid red;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.accomplishment-title {
  margin-bottom: 0;
  font-family:'Rokkitt',serif;
}

.accomplishment-description {
  color:#383838;
  letter-spacing: .05rem;
  font-size: 16px;
}

.footer {
  border-top:1px solid #C0BFBF;
  display: flex;
  justify-content: center;
}

.social-icon {
  width: 2rem;
  height: 2rem;
  margin-top: 1rem;
  margin-left: 1rem;
  cursor: pointer;
}

.social-icon a:hover {
  width: 2rem;
  height: 2rem;
  margin-top: 1rem;
  margin-left: 1rem;
  cursor: pointer;
  color: #FF8B22;
}
