body, html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

main-container {
  display: flex;
  flex-direction: column;
  background-color:#FFFFFF;
}

.header {
  /*outline: 2px solid red;*/
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.twitter-logo {
  height: 1rem;
  width: 1rem;
  cursor: pointer;
  margin-top:.5rem;
  margin-bottom: .5rem;
}

.twitter-handle {
  font-family: 'Roboto',sans-serif;
  color: #5B5B5B;
  font-size: 12px;
  font-weight: lighter;
  margin: 0;
  margin-top:.5rem;
  margin-left:.2rem;
  margin-bottom: .5rem;
  cursor: pointer;
}

.first-section {
  /*outline: 2px solid blue;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sam-pic {
  border-radius: 3px;
  margin-bottom: 2rem;
  box-shadow: 3px 3px 1px lightgrey;
}

.Sam-Pellegrene {
  text-align: center;
  margin: 0 auto;
  color:#5B5B5B;
  font-size: 36px;
  letter-spacing: .1rem;
  font-weight: 300;
  font-family: 'Roboto',sans-serif;
}
.personal-description {
  text-align: center;
  margin-top: 1rem;
  color:#5B5B5B;
  font-size: 24px;
  font-weight: lighter;
  font-family: 'Rokkitt',serif;
}

.section-divider {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid #C0BFBF;
  border-top: 1px solid #C0BFBF;
  margin-bottom: 1rem;
}

.section-divider-words {
  text-align: center;
  color:#5B5B5B;
  font-size: 24px;
  letter-spacing: .1rem;
  font-weight: lighter;
  font-family: 'Roboto',sans-serif;
}

.personal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-icon {
  /*outline: 2px solid red;*/
  width: 4rem;
  height: 4rem;
  margin-top: 1rem;
}

.content-title {
  color:#5B5B5B;
  font-size: 16px;
  font-weight: lighter;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: 'Roboto',sans-serif;
}

.small-border {
  border-bottom: 1px solid #C0BFBF;
  width: 3rem;
  margin: 0;
}

.content-description {
  /*outline: 2px solid red;*/
  width: 17rem;
  color:#383838;
  letter-spacing: .05rem;
  font-size: 16px;
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-image1 {
  height: 12rem;
  width:5rem;
  margin-bottom: 1rem;
}

.small-border-bottom {
  border-bottom:1px solid #C0BFBF;
  width: 100%;
  margin-top: 1rem;
}

.third-section {
  /*outline: 2px solid red;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom:1rem;
}

.coding-relationships {
  /*outline: 2px solid blue;*/
  height: 10rem;
  display: flex;
  align-items: center;
  width: 100%;
}

.coding-description {
  /*outline: 2px solid red;*/
  color:#383838;
  letter-spacing: .05rem;
  font-size: 16px;
  font-weight: lighter;
  font-family: 'Roboto',sans-serif;
  margin: 0;
  width: 14rem;
}

.code-images {
  width: 4rem;
  height: 4rem;
  margin-left: .5rem;
  margin-right:1rem;
}

.accomplishment-container {
  /*outline: 2px solid red;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accomplishment-title {
  margin-bottom: 0;
  align-self: flex-start;
  font-family: 'Roboto',sans-serif;
  font-weight: lighter;
  color: #989898;
}

.accomplishment-description {
  color:#383838;
  letter-spacing: .05rem;
  font-size: 16px;
  font-weight: lighter;
  font-family: 'Roboto',sans-serif;
  margin-top:.5rem;
}

footer {
  border-top:1px solid #C0BFBF;
  display: flex;
  justify-content: space-around;
  margin-bottom: 5rem;
}

.social-icon {
  width: 2rem;
  height: 2rem;
  margin-top: 1rem;
  cursor: pointer;
  box-shadow: 2px 2px 1px lightgrey;
  border-radius: 5px;
}

.email-container {
  /*outline: 2px solid green;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #ECECEC;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email {
  border: 1px solid #ECECEC;
  margin-top: 1rem;
  display: flex;
  height: 2rem;
  font-size: 16px;
  font-family: sans-serif;
  width: 15rem;
  background-color: #BFE5FD;
  border-radius: 3px;
}

.message {
  display: flex;
  border-radius: 3px;
  font-family: sans-serif;
  margin-top: 1rem;
  height: 8rem;
  font-size: 14px;
  width: 15rem;
  border: 1px solid #ECECEC;
  background-color: #BFE5FD;
}

.send-button {
  border: 1px solid #ECECEC;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 4rem;
  height: 2rem;
  border-radius: 3px;
  background-color:#FFFFFF;
  cursor: pointer;
  box-shadow: 2px 2px 1px lightgrey;
  border-radius: 5px;
}

.contact-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 12rem;
  text-align: center;
  font-family: 'Roboto',sans-serif;
  margin-bottom: 0;
  color: #3B3B3B;
}
.phone-number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 12rem;
  font-size: 22px;
  text-align: center;
  line-height: 2rem;
  margin-bottom: .5rem;
  margin-top: .5rem;
  font-family: 'Roboto',sans-serif;
  color: #3B3B3B;
  text-decoration: underline;
}

@media (min-width:540px) {

  main-container {
    outline: 2px solid red;
  }
}
